<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-title" content="足彩"/>
    <title></title>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/styles/bootstrap.min.css">
    <!-- swiper -->
    <link rel="stylesheet" href="../public/styles/swiper.min.css"/>
    <!--custom css-->
    <link rel="stylesheet" href="../public/styles/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="../public/styles/index.css" />
    <link rel="stylesheet" href="../public/styles/common.css">


</head>
<body>
    <div class="masthead pdng-stn1">
        <!-- 内容开始 -->
        <div class="phone-box wrap push">
            <div id="home" class="menu-notify">
                <div class="profile-left">
                    <a href="javascript:;" class="menu-link">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                <div class="Profile-mid country-title">
                    <h1>
                        <img src="../public/images/c1.png">
                        <span class="title">Premier League</span>
                    </h1>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- 横向导航 -->
            <div id="wrapperX" class="wrapper">
                <div id="scroller" class="scroller">
                    <ul class="match-menu">
                        <li data-tid="0" class="active">Highlights</li>
                        <li data-tid="1">Top 5 Leagues</li>
                        <li data-tid="2">Countries</li>
                        <li data-tid="3">The World Cups</li>
                        <li data-tid="4">The World Cups</li>
                        <li data-tid="5">The World Cups</li>
                    </ul>
                </div>
            </div>
            <!-- recommend -->
            <div class="recommend">
                <table class="remd-list">
                    <tr>
                        <th width="5">&nbsp;</th>
                        <th width="30%" class="left">Italy Serie B</th>
                        <th width="15%">Result</th>
                        <th width="17%">1</th>
                        <th width="16%">X</th>
                        <th width="17%">2</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <a href="">
                                <em>20:00</em> <span class="block">5 </span> <i class="fa fa-chevron-right"></i>
                            </a>
                        </td>
                        <td class="d orange">
                            <span class="ds">0</span>
                            <span class="ds">0</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <a href="">
                                <em>20:00</em> <span class="block">5 </span> <i class="fa fa-chevron-right"></i>
                            </a>
                        </td>
                        <td class="d orange">
                            <span class="ds">0</span>
                            <span class="ds">0</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                </table>

                <table class="remd-list">
                    <tr>
                        <th width="5">&nbsp;</th>
                        <th width="30%" class="left">Italy Serie B</th>
                        <th width="15%">Result</th>
                        <th width="17%">1</th>
                        <th width="16%">X</th>
                        <th width="17%">2</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <a href="">
                                <em>20:00</em> <span class="block">5 </span> <i class="fa fa-chevron-right"></i>
                            </a>
                        </td>
                        <td class="d orange">
                            <span class="ds">0</span>
                            <span class="ds">0</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <a href="">
                                <em>20:00</em> <span class="block">5 </span> <i class="fa fa-chevron-right"></i>
                            </a>
                        </td>
                        <td class="d gary">
                            <span class="ds">--</span>
                            <span class="ds">--</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="../public/scripts/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/bootstrap.min.js"></script>
    <!-- 侧边栏控制开关 -->
    <script type="text/javascript" src="../public/scripts/vendor/bigSlide.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/iscroll.js"></script>
    <script type="text/javascript" src="../public/scripts/common.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            //初始化
            getInfo(0);
            $('.match-menu').on('click', '[data-tid]', function(){
                var tid = $(this).data('tid');
                $(this).addClass('active').siblings().removeClass('active');
                getInfo(tid);
            })
            //请求数据
            function getInfo(tid){

            }


            /*布局滚动*/
            var w = 0;
            $('.match-menu li').each(function(index, item){
                console.log($(item).outerWidth(true))
                w += $(item).outerWidth(true);
            })
            $('.scroller').css('width', w+5);
            var myScroll = new IScroll('#wrapper', { eventPassthrough: true, scrollX: true, scrollY: false, preventDefault: false });
        });

    </script>
</body>
</html>