<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-title" content="足彩"/>
    <title></title>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/styles/bootstrap.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="../public/styles/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="../public/styles/index.css" />
    <link rel="stylesheet" href="../public/styles/common.css">


</head>
<body>
    <div class="masthead pdng-stn1">
        <!-- 内容开始 -->
        <div class="phone-box wrap push">
            <div id="home" class="menu-notify">
                <div class="profile-left">
                    <a href="javascript:history.go(-1);" class="menu-link"><i class="fa fa-chevron-left"></i></a>
                </div>
                <div class="Profile-mid logo">
                    <h1>
                        <span class="link">agreement</span>
                    </h1>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="usercenter">
                <div class="notice-de">
                    <h5>共同计议</h5>
                    <p class="p"></p>
                    <p>这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。这更增添了人们对他即将和美国的一家发动机制造商达成协议的猜测。</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../public/scripts/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/scripts/common.js"></script>
</body>
</html>