<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-title" content="足彩"/>
    <title></title>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/styles/bootstrap.min.css">
    <!-- swiper -->
    <link rel="stylesheet" href="../public/styles/swiper.min.css"/>
    <!--custom css-->
    <link rel="stylesheet" href="../public/styles/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="../public/styles/index.css" />
    <link rel="stylesheet" href="../public/styles/common.css">


</head>
<body>
    <div class="masthead pdng-stn1">
        <!-- 左侧抽屉开始 -->
        <div id="menu" class="panel" role="navigation">
            <div class="wrap-content">
                <div class="profile-menu">
                    <ul class="menu-ul">
                        <li><a href="#">HOME</a><i class="fa fa-chevron-right"></i></li>
                        <li><a href="#">ALL GAMES</a><i class="fa fa-chevron-right"></i></li>
                        <li><a href="#">FOLLOW ORDER</a><i class="fa fa-chevron-right"></i></li>
                        <li><a href="#">NEWS</a><i class="fa fa-chevron-right"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 内容开始 -->
        <div class="phone-box wrap push">
            <div id="home" class="menu-notify">
                <div class="profile-left">
                    <a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
                </div>
                <div class="Profile-mid logo">
                    <h1>
                        <a class="link link--yaku" href="single.html">
                            <img src="../public/images/logo.png"/>&nbsp;&nbsp;KENYA
                        </a>
                    </h1>
                </div>
                <div class="Profile-right">
                    <div data-toggle="modal" data-target="#login"><i class="fa fa-home"></i></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- recommend -->
            <div class="recommend">
                <table class="remd-list">
                    <tr>
                        <th width="5">&nbsp;</th>
                        <th width="30%" class="left">Italy Serie B</th>
                        <th width="15%">Result</th>
                        <th width="17%">1</th>
                        <th width="16%">X</th>
                        <th width="17%">2</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <em>20:00</em> <a href="">5</a> <i class="fa fa-chevron-right"></i>
                        </td>
                        <td class="d orange">
                            <span class="ds">0</span>
                            <span class="ds">0</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <em>20:00</em> <a href="">5</a> <i class="fa fa-chevron-right"></i>
                        </td>
                        <td class="d orange">
                            <span class="ds">0</span>
                            <span class="ds">0</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                </table>

                <table class="remd-list">
                    <tr>
                        <th width="5">&nbsp;</th>
                        <th width="30%" class="left">Italy Serie B</th>
                        <th width="15%">Result</th>
                        <th width="17%">1</th>
                        <th width="16%">X</th>
                        <th width="17%">2</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <em>20:00</em> <a href="">5</a> <i class="fa fa-chevron-right"></i>
                        </td>
                        <td class="d orange">
                            <span class="ds">0</span>
                            <span class="ds">0</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="left d">
                            <span class="ds">Foggia</span>
                            <span class="ds">Empoli</span>
                            <em>20:00</em> <a href="">5</a> <i class="fa fa-chevron-right"></i>
                        </td>
                        <td class="d orange">
                            <span class="ds">0</span>
                            <span class="ds">0</span>
                        </td>
                        <td class="s orange bg" data-Bets="">1.32</td>
                        <td class="s orange bg" data-Bets="">2.3</td>
                        <td class="s orange bg" data-Bets="">0.6</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>











    <!-- 按钮触发模态框 -->
    <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logup">注册</button>-->
    <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reset">重置密码</button>-->
    <!-- 登录模态框（Modal） -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog login-box">
            <div class="modal-content login-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title center">LOGIN</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Tel Number">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn login-submit">LOGIN</button>
                    <span class="link logup">Lost Login？</span>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 注册模态框（Modal） -->
    <div class="modal fade" id="logup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog login-box">
            <div class="modal-content login-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title center">REGISTER</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Tel Number">
                    <label>
                        <input type="password" class="form-control width70" placeholder="Verification Code">
                        <a href="javascript:;" class="smsSend">SEND</a>
                    </label>
                    <p><span class="agress agreed"></span>Agree《xxxxxxxx》</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn login-submit">REGISTER</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 重置密码模态框（Modal） -->
    <div class="modal fade" id="reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog login-box">
            <div class="modal-content login-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title center">Set the Password</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Set My Password">
                    <input type="password" class="form-control" placeholder="Repeat My Password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn login-submit">CONFIRM</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 下注模态框（Modal） -->
    <div class="modal fade" id="bets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog bet-slip">
            <div class="modal-content login-content">
                <div class="modal-header bets-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Bet Slip</h4>
                </div>
                <div class="modal-body">
                    <div class="bet-left">
                        <h5>SV Dellach/Gail or Draw</h5>
                        <p>Double Chance <br> SC Landskron v SV Dellach/Gail</p>
                    </div>
                    <div class="bet-right">
                        <input type="text width30" class="form-control" placeholder="Stake">
                        <p>Total Possible Win <br><strong>0.00</strong></p>
                    </div>
                    <ul class="bets-amount">
                        <li>50</li>
                        <li>100</li>
                        <li>200</li>
                        <li>500</li>
                        <li>1000</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bets-btn bets-submit">ACCEPT</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 下注成功 -->
    <div class="modal fade" id="bets-Success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog bet-slip">
            <div class="modal-content login-content">
                <div class="modal-header betsSuc-header">
                    <h4 class="modal-title"><img src="../public/images/bets-suc.png" class="bet-sucIcon"/>Congratulations</h4>
                </div>
                <div class="modal-body betSuc-body">
                    <h5>SV Dellach/Gail or Draw</h5>
                    <p>Double Chance <br> SC Landskron v SV Dellach/Gail</p>
                    <p class="s-p">Betting <strong>500.00</strong>Total Possible Win <strong class="orange">750.00</strong></p>
                </div>
                <div class="modal-footer betSuc-footer">
                    <button type="button" data-dismiss="modal" class="back-btn inline-btn">Back</button>
                    <button type="button" class="bets-btn inline-btn">Share</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 下注失败 -->
    <div class="modal fade" id="bets-fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog bet-slip">
            <div class="modal-content login-content">
                <div class="modal-header betsSuc-header">
                    <h4 class="modal-title"><img src="../public/images/bets-suc.png" class="bet-sucIcon"/>Oops！</h4>
                </div>
                <div class="modal-body betSuc-body">
                    <h5>SV Dellach/Gail or Draw</h5>
                    <p>Double Chance <br> SC Landskron v SV Dellach/Gail</p>
                    <p class="s-p">Betting <strong>500.00</strong>Total Possible Win <strong class="orange">750.00</strong></p>
                </div>
                <div class="modal-footer betSuc-footer">
                    <button type="button" data-dismiss="modal" class="back-btn inline-btn">Back</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script type="text/javascript" src="../public/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/scripts/bootstrap.min.js"></script>
    <!-- 侧边栏控制开关 -->
    <script type="text/javascript" src="../public/scripts/bigSlide.js"></script>
    <!--  轮播图-->
    <script type="text/javascript" src="../public/scripts/swiper.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //侧边栏控制
            $('.menu-link').bigSlide();

            // banner
            var mySwiper = new Swiper ('.swiper-container', {
                direction: 'horizontal',
                loop: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                // 如果需要分页器
                pagination: {
                    el: '.swiper-pagination',
                }
            })
            //注册框显示
            $('.logup').on('click', function(){
                $('#logup').modal('show');
            })
            //下注框显示
            $('.recommend').on('click','td[data-Bets]',function(){
                $('#bets').modal('show');
            })
            //下注提交
            $('.bets-submit').on('click', function(){
                $('#bets').modal('hide');
                $('#bets-fail').modal('show');
            })
        });

    </script>
</body>
</html>