<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-title" content="足彩"/>
    <title></title>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/styles/bootstrap.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="../public/styles/jquery-ui.css" />
    <!--<link rel="stylesheet" type="text/css" href="../public/styles/index.css" />-->
    <link rel="stylesheet" href="../public/styles/common.css">


</head>
<body>
    <div class="masthead pdng-stn1">
        <!-- 内容开始 -->
        <div class="phone-box wrap push">
            <div class="banner">
                <div class="race-banner">
                    <div class="banner-title ">
                        <a href="javascript:history.go(-1);" class="back-link"><i class="fa fa-chevron-left"></i></a>
                        Italy Serie B
                    </div>
                    <div class="banner-con">
                        <span class="ban-left">Real Madrid </span>
                        <!--<div class="ban-center center"><img src="../public/images/vs.jpg" class="ban-vs"></div>-->
                        <div class="ban-center center">
                            <span class="soccer-l">1</span>
                            <img src="../public/images/soccer-vs.png" class="soccer-vs">
                            <span class="soccer-r">2</span>
                        </div>
                        <span class="ban-right">Barcelona </span>
                    </div>
                    <div class="banner-footer">
                        <span class="ban-time">2017-02-10 03:45</span>
                    </div>
                </div>
            </div>
            <!-- recommend -->
            <!-- <div class="recommend">
                <table class="remd-list">
                    <tr>
                        <th colspan="3" class="th-orange">Fulltime Result</th>
                    </tr>
                    <tr>
                        <td class="s bg" data-Bets="">
                            <span class="de-score orange">1.32</span><span class="de-score">1.32</span>
                        </td>
                        <td class="s bg" data-Bets="">
                            <span class="de-score">1.32</span><span class="de-score">1.32</span>
                        </td>
                        <td class="s bg" data-Bets="">
                            <span class="de-score">1.32</span><span class="de-score">1.32</span>
                        </td>
                    </tr>
                </table>
                <table class="remd-list">
                    <tr>
                        <th colspan="2" class="th-orange">Fulltime Result</th>
                    </tr>
                    <tr>
                        <td class="s bg" data-Bets="">
                            <span class="de-score orange">1.32</span><span class="de-score">1.32</span>
                        </td>
                        <td class="s bg" data-Bets="">
                            <span class="de-score">1.32</span><span class="de-score">1.32</span>
                        </td>
                    </tr>
                </table>
                <table class="remd-list">
                    <tr>
                        <th colspan="3" class="th-orange">Fulltime Result</th>
                    </tr>
                    <tr>
                        <td class="score-td bg" data-Bets="" width="33.333333%">
                            <span class="de-score orange">1.32</span><span class="de-score">1.32</span>
                        </td>
                        <td class="score-td bg" data-Bets="" width="33.333333%">
                            <span class="de-score">Under</span><span class="de-score">1.32</span>
                        </td>
                        <td class="score-td bg" data-Bets="" width="33.333333%">
                            <span class="de-score">Under</span><span class="de-score">1.32</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="score-td bg" data-Bets="">
                            <span class="de-score orange">1.32</span><span class="de-score">1.32</span>
                        </td>
                        <td class="score-td bg" data-Bets="">
                            <span class="de-score orange">1.32</span><span class="de-score">1.32</span>
                        </td>
                        <td class="score-td bg" data-Bets="">
                            <span class="de-score orange">1.32</span><span class="de-score">1.32</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="score-td bg" data-Bets="">
                            <span class="de-score orange">ANY OTHER</span><span class="de-score">1.32</span>
                        </td>
                    </tr>
                    </tr>
                </table>
            </div> -->

            <!-- 比赛结束 -->
            <div class="recommend">
                <div class="match-fin">
                    <img src="../public/images/finished.png">
                    <p>The Game is Finished</p>
                    <button type="button" class="btn width60 bets-btn">Back</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="../public/scripts/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/common.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

        })

    </script>
</body>
</html>