<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-title" content="足彩"/>
    <title></title>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/styles/bootstrap.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="../public/styles/jquery-ui.css" />
    <!--<link rel="stylesheet" type="text/css" href="../public/styles/index.css" />-->
    <link rel="stylesheet" href="../public/styles/common.css">


</head>
<body>
    <div class="masthead pdng-stn1">
        <!-- 内容开始 -->
        <div class="phone-box wrap push" id="res-raceDetail"></div>
        <script type="text/template" charset="utf-8" id="tpl-raceDetail">
            <div class="banner">
                <div class="race-banner">
                    <div class="banner-title ">
                        <a href="javascript:history.go(-1);" class="back-link"><i class="fa fa-chevron-left"></i></a>
                        {{= it.event.competitionName}}
                    </div>
                    <div class="banner-con">
                        <span class="ban-left">{{= it.event.homeTeamName}}</span>
                        {{? it.event.state == "0"}}
                            <div class="ban-center center"><img src="../public/images/vs.png" class="ban-vs"></div>
                        {{??}}
                            <div class="ban-center center">
                                <span class="soccer-l">{{= it.event.homeTeamScore}}</span>
                                <img src="../public/images/soccer-vs.png" class="soccer-vs">
                                <span class="soccer-r">{{= it.event.awayTeamScore}}</span>
                            </div>
                        {{?}}
                        <span class="ban-right">{{= it.event.awayTeamName}}</span>
                    </div>
                    <div class="banner-footer">
                        {{? it.event.state == "0"}}
                            <span class="ban-time">{{= $.dateFmt(it.event.eventTime/10000, "yyyy-MM-dd hh:mm")}}</span>
                        {{?? it.event.state == "3"}}
                            <span class="ban-time">TIME: <em id="process-time">{{= $.sec_to_time(new Date().getTime()-it.event.eventTime/10000, "mm:ss")}}</em></span>
                        {{??}}
                            <span class="ban-time">TIME: {{= it.event.caseMinutes}}</span>
                        {{?}}
                    </div>
                </div>
            </div>
            <!-- recommend -->
            <div class="recommend">
            {{? it.event.state == "1" || it.event.state == "5"}}
                <div class="match-fin">
                    <img src="../public/images/finished.png">
                    <p>The Game is Finished</p>
                    <a href="javascript:history.go(-1);" class="btn width60 bets-btn">Back</a>
                </div>
            {{?? }}
                {{? it.market100 && it.market100.selections.length}}
                <table class="remd-list">
                    <tr>
                        <th colspan="3" class="th-orange">3 Way</th>
                    </tr>
                    <tr data-eventId="{{= it.event.eventId}}" data-homeTeamName="{{= it.event.homeTeamName}}" data-awayTeamName="{{= it.event.awayTeamName}}"   data-competitionName="{{= it.event.competitionName}}" >
                        {{~ it.market100.selections :val:ind}}
                        <td class="s bg able race-detail" width="33.333333%" data-Bets="" data-marketId="{{= it.market100.marketId}}" data-ruleType="{{= it.market100.ruleType}}" data-verifyResult="{{= it.market100.verifyResult}}" data-selectionId="{{= val.selectionId}}" data-maxStakeLimit="{{= val.maxStakeLimit}}" data-v1="{{= val.v1}}" data-v2="{{= val.v2}}" data-v3="{{= val.v3}}" data-backOdds="{{= val.backOdds}}">
                            {{? val.selectionId == "1"}}
                                <span class="de-score">Home</span>
                            {{?? val.selectionId == "0"}}
                                <span class="de-score">Draw</span>
                            {{?? val.selectionId == "-1"}}
                                <span class="de-score">Visiting</span>
                            {{?}}
                            <span class="de-score orange">{{= val.backOdds}}</span>
                        </td>
                        {{~}}
                    </tr>
                </table>
                {{?}}
                {{? it.market130 && it.market130.selections.length}}
                <table class="remd-list">
                    <tr>
                        <th colspan="2" class="th-orange">Odd/Even</th>
                    </tr>
                    <tr data-eventId="{{= it.event.eventId}}"  data-homeTeamName="{{= it.event.homeTeamName}}" data-awayTeamName="{{= it.event.awayTeamName}}"   data-competitionName="{{= it.event.competitionName}}">
                        {{~ it.market130.selections.reverse() :val:ind}}
                        <td class="s bg able race-detail" data-marketId="{{= it.market130.marketId}}" data-ruleType="{{= it.market130.ruleType}}" data-verifyResult="{{= it.market130.verifyResult}}" data-selectionId="{{= val.selectionId}}" data-maxStakeLimit="{{= val.maxStakeLimit}}" data-v1="{{= val.v1}}" data-v2="{{= val.v2}}" data-v3="{{= val.v3}}" data-backOdds="{{= val.backOdds}}">
                            {{? val.selectionId == "-1"}}
                            <span class="de-score">Even</span>
                            {{?? val.selectionId == "1"}}
                            <span class="de-score">Odd</span>
                            {{?}}
                            <span class="de-score orange">{{= val.backOdds}}</span>
                        </td>
                        {{~}}
                    </tr>
                </table>
                {{?}}

                {{? it.market140 && it.market140.selections.length}}
                <dl class="remd-list remd-dl" data-eventId="{{= it.event.eventId}}"  data-homeTeamName="{{= it.event.homeTeamName}}" data-awayTeamName="{{= it.event.awayTeamName}}"   data-competitionName="{{= it.event.competitionName}}">
                    <dt class="th-orange remd-title">Correct Score</dt>

                    {{~ it.market140.selections :val:ind}}
                    {{? val.selectionId > 4}}
                        <dd class="bg able" data-marketId="{{= it.market140.marketId}}" data-ruleType="{{= it.market140.ruleType}}" data-verifyResult="{{= it.market140.verifyResult}}" data-selectionId="{{= val.selectionId}}" data-maxStakeLimit="{{= val.maxStakeLimit}}" data-v1="{{= val.v1}}" data-v2="{{= val.v2}}" data-v3="{{= val.v3}}" data-backOdds="{{= val.backOdds}}">
                            {{? val.selectionId == 10001}}
                            <span class="de-score">0:0</span>
                            {{?? val.selectionId == 10002}}
                            <span class="de-score">1:0</span>
                            {{?? val.selectionId == 10003}}
                            <span class="de-score">2:0</span>
                            {{?? val.selectionId == 10004}}
                            <span class="de-score">3:0</span>
                            {{?? val.selectionId == 10005}}
                            <span class="de-score">4:0</span>
                            {{?? val.selectionId == 10006}}
                            <span class="de-score">5:0</span>
                            {{?? val.selectionId == 10007}}
                            <span class="de-score">6:0</span>
                            {{?? val.selectionId == 20001}}
                            <span class="de-score">0:1</span>
                            {{?? val.selectionId == 20002}}
                            <span class="de-score">1:1</span>
                            {{?? val.selectionId == 20003}}
                            <span class="de-score">2:1</span>
                            {{?? val.selectionId == 20004}}
                            <span class="de-score">3:1</span>
                            {{?? val.selectionId == 20005}}
                            <span class="de-score">4:1</span>
                            {{?? val.selectionId == 20006}}
                            <span class="de-score">5:1</span>
                            {{?? val.selectionId == 20007}}
                            <span class="de-score">6:1</span>
                            {{?? val.selectionId == 30001}}
                            <span class="de-score">0:2</span>
                            {{?? val.selectionId == 30002}}
                            <span class="de-score">1:2</span>
                            {{?? val.selectionId == 30003}}
                            <span class="de-score">2:2</span>
                            {{?? val.selectionId == 30004}}
                            <span class="de-score">3:2</span>
                            {{?? val.selectionId == 30005}}
                            <span class="de-score">4:2</span>
                            {{?? val.selectionId == 30006}}
                            <span class="de-score">5:2</span>
                            {{?? val.selectionId == 30007}}
                            <span class="de-score">6:2</span>
                            {{?? val.selectionId == 40001}}
                            <span class="de-score">0:3</span>
                            {{?? val.selectionId == 40002}}
                            <span class="de-score">1:3</span>
                            {{?? val.selectionId == 40003}}
                            <span class="de-score">2:3</span>
                            {{?? val.selectionId == 40004}}
                            <span class="de-score">3:3</span>
                            {{?? val.selectionId == 40005}}
                            <span class="de-score">4:3</span>
                            {{?? val.selectionId == 40006}}
                            <span class="de-score">5:3</span>
                            {{?? val.selectionId == 40007}}
                            <span class="de-score">6:3</span>
                            {{?? val.selectionId == 50001}}
                            <span class="de-score">0:4</span>
                            {{?? val.selectionId == 50002}}
                            <span class="de-score">1:4</span>
                            {{?? val.selectionId == 50003}}
                            <span class="de-score">2:4</span>
                            {{?? val.selectionId == 50004}}
                            <span class="de-score">3:4</span>
                            {{?? val.selectionId == 50005}}
                            <span class="de-score">4:4</span>
                            {{?? val.selectionId == 50006}}
                            <span class="de-score">5:4</span>
                            {{?? val.selectionId == 50007}}
                            <span class="de-score">6:4</span>
                            {{?? val.selectionId == 60001}}
                            <span class="de-score">0:5</span>
                            {{?? val.selectionId == 60002}}
                            <span class="de-score">1:5</span>
                            {{?? val.selectionId == 60003}}
                            <span class="de-score">2:5</span>
                            {{?? val.selectionId == 60004}}
                            <span class="de-score">3:5</span>
                            {{?? val.selectionId == 60005}}
                            <span class="de-score">4:5</span>
                            {{?? val.selectionId == 60006}}
                            <span class="de-score">5:5</span>
                            {{?? val.selectionId == 60007}}
                            <span class="de-score">6:5</span>
                            {{?? val.selectionId == 70001}}
                            <span class="de-score">0:6</span>
                            {{?? val.selectionId == 70002}}
                            <span class="de-score">1:6</span>
                            {{?? val.selectionId == 70003}}
                            <span class="de-score">2:6</span>
                            {{?? val.selectionId == 70004}}
                            <span class="de-score">3:6</span>
                            {{?? val.selectionId == 70005}}
                            <span class="de-score">4:6</span>
                            {{?? val.selectionId == 70006}}
                            <span class="de-score">5:6</span>
                            {{?? val.selectionId == 70007}}
                            <span class="de-score">6:6</span>
                            {{?}}

                            <span class="de-score orange">{{= val.backOdds}}</span>
                        </dd>
                        {{?}}
                        {{~}}

                    <dd class="bg able race-detail" data-marketId="{{= it.market140.marketId}}" data-ruleType="{{= it.market140.ruleType}}" data-verifyResult="{{= it.market140.verifyResult}}" data-selectionId="2">
                        <span class="de-score">Home</span>
                        <span class="de-score orange" id="backOdds_140_0"></span>
                    </dd>
                    <dd class="bg able race-detail" data-marketId="{{= it.market140.marketId}}" data-ruleType="{{= it.market140.ruleType}}" data-verifyResult="{{= it.market140.verifyResult}}" data-selectionId="3">
                        <span class="de-score">Draw</span>
                        <span class="de-score orange" id="backOdds_140_1"></span>
                    </dd>
                    <dd class="bg able race-detail" data-marketId="{{= it.market140.marketId}}" data-ruleType="{{= it.market140.ruleType}}" data-verifyResult="{{= it.market140.verifyResult}}" data-selectionId="4">
                        <span class="de-score">Visiting</span>
                        <span class="de-score orange" id="backOdds_140_2"></span>
                    </dd>
                </dl>

                {{?}}
                {{? it.market350 && it.market350.selections.length}}
                <dl class="remd-list remd-dl" data-eventId="{{= it.event.eventId}}"  data-homeTeamName="{{= it.event.homeTeamName}}" data-awayTeamName="{{= it.event.awayTeamName}}"   data-competitionName="{{= it.event.competitionName}}">
                    <dt class="th-orange remd-title">Next Team To Score</dt>
                    {{~ it.market350.selections :val:ind}}
                    <dd class="bg able race-detail" data-marketId="{{= it.market350.marketId}}" data-ruleType="{{= it.market350.ruleType}}" data-verifyResult="{{= it.market350.verifyResult}}" data-selectionId="{{= val.selectionId}}" data-maxStakeLimit="{{= val.maxStakeLimit}}" data-v1="{{= val.v1}}" data-v2="{{= val.v2}}" data-v3="{{= val.v3}}" data-backOdds="{{= val.backOdds}}">
                        {{? val.selectionId == "1"}}
                            <span class="de-score">Home</span>
                        {{?? val.selectionId == "0"}}
                            <span class=""></span>
                        {{?? val.selectionId == "-1"}}
                            <span class="de-score">Visiting</span>
                        {{?}}
                        <span class="de-score orange">{{= val.backOdds}}</span>
                    </dd>
                    {{~}}
                </dl>
                {{?}}
                {{? it.market410 && it.market410.selections.length}}
                <dl class="remd-list remd-dl" data-eventId="{{= it.event.eventId}}"  data-homeTeamName="{{= it.event.homeTeamName}}" data-awayTeamName="{{= it.event.awayTeamName}}"   data-competitionName="{{= it.event.competitionName}}">
                    <dt class="th-orange remd-title">Total Goals Exactly</dt>
                    {{~ it.market410.selections :val:ind}}
                    {{? val.selectionId > 0}}
                    <dd class="bg able" data-marketId="{{= it.market410.marketId}}" data-ruleType="{{= it.market410.ruleType}}" data-verifyResult="{{= it.market410.verifyResult}}" data-selectionId="{{= val.selectionId}}" data-maxStakeLimit="{{= val.maxStakeLimit}}" data-v1="{{= val.v1}}" data-v2="{{= val.v2}}" data-v3="{{= val.v3}}" data-backOdds="{{= val.backOdds}}">
                        {{? val.selectionId == 1}}
                        <span class="de-score">0</span>
                        <span class="de-score orange">{{= val.backOdds}}</span>
                        {{?? val.selectionId == 2}}
                        <span class="de-score">1</span>
                        <span class="de-score orange">{{= val.backOdds}}</span>
                        {{?? val.selectionId == 3}}
                        <span class="de-score">2</span>
                        <span class="de-score orange">{{= val.backOdds}}</span>
                        {{?? val.selectionId == 4}}
                        <span class="de-score">3</span>
                        <span class="de-score orange">{{= val.backOdds}}</span>
                        {{?? val.selectionId == 5}}
                        <span class="de-score">4</span>
                        <span class="de-score orange">{{= val.backOdds}}</span>
                        {{?? val.selectionId == 6}}
                        <span class="de-score">5</span>
                        <span class="de-score orange">{{= val.backOdds}}</span>
                        {{?? val.selectionId == 7}}
                        <span class="de-score">6</span>
                        <span class="de-score orange">{{= val.backOdds}}</span>
                        {{?}}
                    </dd>
                    {{?}}
                    {{~}}
                    <dd class="bg able race-detail" data-marketId="{{= it.market410.marketId}}" data-ruleType="{{= it.market410.ruleType}}" data-verifyResult="{{= it.market410.verifyResult}}" data-selectionId="-1">
                        <span class="de-score">More</span>
                        <span class="de-score orange" id="backOdds_410_1"></span>
                    </dd>
                </dl>
                {{?}}

            {{?}}
            </div>
        </script>


    </div>


    <script type="text/javascript" src="../public/scripts/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/jquery.cookie.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/doT.min.js"></script>
    <script type="text/javascript" src="../public/scripts/common.js"></script>
    <script type="text/javascript">
        function upDate(time){
            var process = new Date().getTime() - time;
            if(process <= 5400000){
                $('#process-time').html($.dateFmt(process, "mm:ss"));
                setTimeout(function(){upDate(time)}, 1000);
            } else {

            }
        }

        $(document).ready(function() {
            var eventId = $.getQueryString('eventId');
            $.ajax({
                type: 'get',
                url: apiDomain + '/order/getMarketList?' + new Date().getTime(),
                dataType: "json",
                cache: false,
                data: {eventId: eventId,evented: 1,enabled: 0},
                success: function (data) {
                    if (data.code == "0") {
//                  渲染模版
                        var tpl = doT.template($("#tpl-raceDetail").html());
                        $("#res-raceDetail").html(tpl(data.results));
                        $.detailObj = data.results;
                        if(data.results.event.eventTime/10000 < new Date().getTime()){
                            upDate(data.results.event.eventTime/10000);
                        }

//                        $('#backOdds_100_0').html($.getSelect(data.results, 100, -1).backOdds);
//                        $('#backOdds_100_1').html($.getSelect(data.results, 100, 0).backOdds);
//                        $('#backOdds_100_2').html($.getSelect(data.results, 100, 1).backOdds);

//                        $('#backOdds_130_0').html($.getSelect(data.results, 130, -1).backOdds);
//                        $('#backOdds_130_1').html($.getSelect(data.results, 130, 1).backOdds);

                        $('#backOdds_140_0').html($.getSelect(data.results, 140, 2).backOdds);
                        $('#backOdds_140_1').html($.getSelect(data.results, 140, 3).backOdds);
                        $('#backOdds_140_2').html($.getSelect(data.results, 140, 4).backOdds);

//                        $('#backOdds_350_1').html($.getSelect(data.results, 350, -1).backOdds);
//                        $('#backOdds_350_2').html($.getSelect(data.results, 350, 0).backOdds);
//                        $('#backOdds_350_3').html($.getSelect(data.results, 350, 1).backOdds);

                        $('#backOdds_410_1').html($.getSelect(data.results, 410, -1).backOdds);

                    } else {
                        //简单提示框
                        $.blt(data.msg);
                    }
                }
            })
        })

    </script>
</body>
</html>