<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-title" content="足彩"/>
    <title></title>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/styles/bootstrap.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="../public/styles/jquery-ui.css" />
    <!-- 日期选择 -->
    <link rel="stylesheet" href="../public/styles/bootstrap-datepicker.min.css" />

    <link rel="stylesheet" type="text/css" href="../public/styles/index.css" />
    <link rel="stylesheet" href="../public/styles/common.css">


</head>
<body>
    <div class="masthead pdng-stn1">
        <!-- 内容开始 -->
        <div class="phone-box wrap push">
            <div id="home" class="menu-notify setting-head">
                <div class="profile-left">
                    <a href="javascript:history.go(-1);" class="menu-link"><i class="fa fa-chevron-left"></i></a>
                </div>
                <div class="Profile-mid logo">
                    <h1>
                        <span class="link">Setting</span>
                    </h1>
                </div>
                <div class="Profile-right w80">
                    <a href="setting-edit.html" class="bets-btn inline-btn ">Edit</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="usercenter" id="res-setting"></div>
            <script type="text/template" charset="utf-8" id="tpl-setting">
                <ul class="oper-list" >
                    <li class="lh">Name<span class="pull-right p setting-r">{{= it.userName}}</span></li>
                    <li class="lh">Tel<span class="pull-right p setting-r">{{= it.userPhone}}</span></li>
                    <li class="lh">Email<span class="pull-right p setting-r">{{= it.userEMail}}</span></li>
                    <li class="lh">ID Number<span class="pull-right p setting-r">{{= it.userIdNumber}}</span></li>
                    <li class="lh">Address<span class="pull-right p setting-r">{{= it.userAddress1}}</span></li>
                </ul>
            </script>
        </div>
    </div>

    <script type="text/javascript" src="../public/scripts/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/jquery.cookie.js"></script>
    <script type="text/javascript" src="../public/scripts/vendor/doT.min.js"></script>
    <!-- 时间插件 -->
    <script type="text/javascript" src="../public/scripts/vendor/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../public/scripts/common.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: 'get',
                url: apiDomain + '/user/findUserInfo?' + new Date().getTime(),
                dataType: "json",
                cache: false,
                data: {userId: $.cookie('userId')},
                success: function (data) {
                    if (data.code == "0") {
                        var tpl = doT.template($("#tpl-setting").html());
                        $("#res-setting").html(tpl(data.results));
                    } else {

                    }
                }
            })
        });

    </script>
</body>
</html>