<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>Title</title>
    <!--font-awsome-css-->
    <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
    <!--bootstrap-->
    <link href="../public/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--custom css-->
    <link rel="stylesheet" href="../public/styles/jquery-ui.css" />
    <link href="../public/styles/index.css" rel="stylesheet" type="text/css"/>

    <!--component-css-->
    <script src="../public/scripts/vendor/jquery-2.1.4.min.js"></script>
    <script src="../public/scripts/vendor/bootstrap.min.js"></script>
    <!--script-->
    <script src="../public/scripts/vendor/bigSlide.js"></script>
    <script>
        $(document).ready(function() {
            $('.menu-link').bigSlide();
        });
    </script>
    <style>
        body{
            background-color: red;
        }
    </style>
</head>
<body>
<div class="body-back">
    <div class="masthead pdng-stn1">
        <div id="menu" class="panel" role="navigation">
            <div class="wrap-content">
                <div class="profile-menu text-center">
                    123124
                </div>
            </div>
        </div>
        <div class="phone-box wrap push">
            <div id="home" class="menu-notify">
                <div class="profile-left">
                    <a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
                </div>
        </div>
    </div>

</div>

</body>
</html>