@import "reset";
@import 'bootstrap.min';
/* 登录注册部分开始 */
.center{
  text-align: center;
}
.width60{
  width: 60%;
}
.mark{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: #000;
  opacity: .5;
  z-index: 9;
}
.login-box{
    top: 15%;
  label{
    width: 100%;
  }
  label .form-control{
    margin-top: 0;
    margin-bottom: 0;
  }
  .login-content{
      background-color: #3E4885;
      color: #fff;
  }
  .modal-header,.modal-footer{
    border: none;
  }
  .modal-header{
    padding-bottom: 0;
  }
  .modal-body{
    padding: 0 25px;
  }
  .modal-footer{
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
  }
  .close{
    color: #fff;
    opacity: 1;
    font-size: 30px;
    font-weight: normal;
  }
  .form-control{
    line-height: 45px;
    height: 45px;
    background-color: #49528C;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    color: #fff;
    margin: 18px 0;
    font-weight: normal;
  }
  .login-submit{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #E3C551;
    color: #3A3F7C;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
  }
  .agress{
    display: inline-block;
    float: left;
    margin: 2px 7px 0 0;
    width: 15px;
    height: 15px;
    background: url(../images/checkbox.png) no-repeat left top;
    background-size: 100% auto;
  }
  .agreed{
    background: url(../images/checked.png) no-repeat left top;
    background-size: 100% auto;
  }
  .link{
    display: inline-block;
    color: #fff;
    padding-top: 10px;
  }
}
/* 登录注册部分结束 */