body{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif!important;
    font-weight: 400!important;
}
body,html{
    background: -webkit-linear-gradient(#4663a9, #35316a); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4663a9, #35316a); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4663a9, #35316a); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4663a9, #35316a); /* 标准的语法 */

}
em{font-style: normal;}
/* 登录注册部分开始 */
.center{
  text-align: center!important;
}
.left{
    text-align: left!important;
}
.width70{
  display: inline-block;
  width: 70%;
}
.width30{
    display: inline-block;
    width: 30%;
}
.mark{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: #000;
  opacity: .5;
  z-index: 9;
}
input::-webkit-input-placeholder{
  color:rgba(255,255,255,.6);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:rgba(255,255,255,.6);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:rgba(255,255,255,.6);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:rgba(255,255,255,.6);
}
.login-box{
    top: 15%;
}
.login-box label{
    width: 100%;
}
.login-box label .form-control{
   margin-top: 0;
   margin-bottom: 10px;
}
.login-box  .login-content{
  background-color: #3E4885;
  color: #fff;
  }
.login-box .modal-header,.login-box .modal-footer{  border: none;
}
.login-box .modal-header{
    padding-bottom: 0;
  }
.login-box .modal-body{
    padding: 0 25px;
  }
.login-box .modal-footer{
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    padding-top: 5px;
  }
.login-box .close{
    color: #fff;
    opacity: 1;
    font-size: 30px;
    font-weight: normal;
  }
.login-box .form-control{
    line-height: 45px;
    height: 45px;
    background-color: #49528C;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    color: #fff;
    margin: 18px 0;
    font-weight: normal;
  }
.login-box .login-submit{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #E3C551;
    color: #3A3F7C;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
  }
.login-box  .agress{
    display: inline-block;
    float: left;
    margin: 2px 7px 0 0;
    width: 15px;
    height: 15px;
    background: url(../images/checkbox.png) no-repeat left top;
    background-size: 100% auto;
  }
.login-box  .agreed{
    background: url(../images/checked.png) no-repeat left top;
    background-size: 100% auto;
  }
.login-box .link{
    display: inline-block;
    color: #fff;
    padding-top: 10px;
    text-decoration: underline;
  }
.login-box .smsSend{
    float: right;
    font-size: 16px;
    color: #E3C551;
    text-decoration: underline;
    display: inline-block;
    width: 30%;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
/* 登录注册部分结束 */
/*下注框 开始*/
.bet-slip .login-content {
    background-color: #3E4885;
    color: #fff;
}
.bet-slip .bets-header{
    border-radius: 6px 6px 0 0;
    background-color: #E3C551;
    padding: 9px 15px;
    border-bottom: none;
}
.bet-slip .bets-header .modal-title{
    color: #3A3F7C;
    font-size: 17px;
}
.bet-slip .bets-header .close {
    color: #3A3F7C;
    opacity: 1;
    font-size: 30px;
    font-weight: normal;
}
.bet-slip .modal-body{
    overflow: hidden;
    background: rgba(255,255,255,0.06);
    color: #FFFFFF;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.bet-left{
    width: 60%;
    float: left;
    display: inline-block;
    padding-left: 15px;
}
.bet-right{
    width: 40%;
    float: right;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}
.bet-slip .modal-body h5{
    padding-bottom: 10px;
}
.bet-slip .modal-body p{
    color: #b6b9d1;
    font-size: 12px;
    line-height: 16px;
}
.bet-slip .form-control{
    display: inline-block;
    width: 80%;
    background-color: #666E9D;
    border: 1px solid rgba(255,216,68,0.5);
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 8px;
}
.bet-slip input::-webkit-input-placeholder{
    color: #fff;
}
.bet-slip input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #fff;
}
.bet-slip input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
.bet-slip input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color: #fff;
}
.bet-slip .modal-footer{
    padding: 30px 15px;
    border-top: 1px solid rgba(255,255,255,0.2);
}
.bet-slip .bets-btn{
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 40px;
    background-color: #E3C551;
    color: #3A3F7C;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    border: none;
}
.bet-slip .back-btn{
    height: 40px;
    border: 1px solid #E3C551;
    color: #E3C551;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    background-color: transparent;
}
.bet-slip .inline-btn{
    display: inline-block;
    width: 47%;
}
.bets-amount {
    overflow: hidden;
    clear: both;
    padding-top: 12px;
}
.bets-amount li{
    display: inline-block;
    float: left;
    width: 20%;
    line-height: 37px;
    text-align: center;
    color: #FFD844;
    font-weight: 600;
    background: -webkit-linear-gradient(#54619A, #333E7E); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#54619A, #333E7E); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#54619A, #333E7E); /* Firefox 3.6 - 15 */
    background: linear-gradient(#54619A, #333E7E); /* 标准的语法 */
    box-shadow: 0 1px 3px 0 rgba(47,56,121,0.50), inset 1px 0 1px 0 rgba(255,255,255,0.05), inset 0 1px 1px 0 rgba(255,255,255,0.23), inset 0 0px 3px 0 rgba(40,49,127,0.31);
}
.bets-amount li:hover{
    color: #3A3F7C;
    background-image: linear-gradient(-1deg, #dcc97c 0%, #dd9b29 100%);
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.50), inset 0 -2px 4px 0 rgba(40,49,127,0.57);
}
.betsSuc-header{
    padding: 25px 15px 12px;
    border-bottom: none;
}
.betsSuc-header .modal-title{
    font-size: 17px;
    text-align: center;
}
.bet-sucIcon{
    width: 33px;
    margin-right: 5px;
}
.bet-slip .betSuc-body{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bet-slip .s-p{
    padding-top: 5px;
}
.bet-slip strong{
    padding: 0 5px;
    font-size: 13px;
    color:#fff;
}
.bet-slip .betSuc-footer{
    text-align: center;
    padding: 30px;
}
/*下注框 结束*/
/* 首页 开始 */
.menu-notify{
    background: #383874;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.30);
}
.logo{
    text-align: left;
}
.logo h1 a{
    font-size: 18px!important;
    float: left;
    margin-top: 4px;
    font-weight: normal!important;

}
.logo img{
    width: 20px;
    margin-bottom: 2px;
}
.panel{
    background-color:  rgba(31,42,112,.88);
    box-shadow: 6px 0 6px 0 rgba(26,36,94,0.45);
}
.menu-ul li{
    padding: 25px 20px 0;
    font-size: 13px;
    height: 56px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-top: 25px;
}
.menu-ul li a{
    display: inline-block;
    color: #fff;
    font-weight: normal;
}
.menu-ul li .fa{
    float: right;
    margin-top: 5px;
    font-weight: normal;
    font-size: 12px;
    color: #C6C8CB;
}
.menu-ul li:hover,.menu-ul li:link{
    background: #E3C551;
}
.menu-ul li:hover a,.menu-ul li:link a{
    color: #3A3F7C;
}
.menu-ul li:hover .fa,.menu-ul li:link .fa{
    color: #3A3F7C;
}

.swiper-container {
    width: 100%;
    min-height: 145px;
}
.remd-list{
    width: 100%;
    margin-bottom: 10px;
    background-color: #4F5D99;
}

.remd-list th{
    background: #6070A8;
    line-height: 25px;
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    text-align: center;
}
.remd-list td{
    color: #fff;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.remd-list tr:last-child td,
.remd-list td:first-child{
    border: none;
}
.remd-list td.bg{
    background: -webkit-linear-gradient(#54619A, #333E7E); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#54619A, #333E7E); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#54619A, #333E7E); /* Firefox 3.6 - 15 */
    background: linear-gradient(#54619A, #333E7E); /* 标准的语法 */
    box-shadow: 0 1px 3px 0 rgba(47,56,121,0.50), inset 1px 0 1px 0 rgba(255,255,255,0.05), inset 0 1px 1px 0 rgba(255,255,255,0.23), inset 0 0px 3px 0 rgba(40,49,127,0.31);
}
.remd-list td[data-Bets]:hover{
    color: #3A3F7C!important;
    background-image: linear-gradient(-1deg, #dcc97c 0%, #dd9b29 100%);
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.50), inset 0 -2px 4px 0 rgba(40,49,127,0.57);
}
.remd-list td .ds{
    display: block;
    line-height: 18px;
}
.d{
    padding: 5px 0;
}
.s{
    line-height: 60px;
}
.orange{
    color: #FFD80D!important;
}
/* 首页 结束 */